<!DOCTYPE html>
<html>
<head>
    <title>UVector</title>
    <meta name="charset" charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/vis.js"></script>
    <script type="text/javascript" src="/static/js/graph.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
    <script type="text/javascript" src="/static/Chart.bundle.js"></script>
</head>
<body>

    {{{body}}}

</body>
</html>
